// 左侧导航栏边框样式
.sidebar-container.avue-sidebar {
  > .el-menu {
    > .el-menu-item {
      border-left: 5px solid transparent;
      &.is-active {
        border-left: 5px solid #00AAFF;
      }
    }
  }
  > .el-menu {
    > .el-submenu {
      &.is-opened {
        &.is-active {
          .el-submenu__title {
            border-left: 5px solid #00AAFF;
          }
        }
      }
      .el-submenu__title {
        border-left: 5px solid transparent;
      }
    }
  }
}

// 表格样式修改
.el-table th {
  background-color: #fafafa;
}
.avue-tree-table {
  &.el-table--border {
    border: none;
  }
}
.el-table--border::after, .el-table--group::after {
  display: none;
}
.el-table--border {
  td {
    border-right: none;
  }
  th {
    border-right: none;
  }
}

// 树表样式重置
.el-table__expanded-cell[class*=cell] {
  padding: 0;
  border-bottom: 0px;
  .child-table {

  }
}
.avue-crud {
  .el-card {
    border: none;
  }
}
